{% extends '::base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block banner %}
    <h2>Bienvenue sur Coco Voit</h2>
    <p>Site de covoiturage réalisé dans le cadre du projet d'IHM</p>
    <a href="#" class="button">Connexion</a>
{% endblock %}

{% block body %}
    accueil
{% endblock %}
